<web-app>
    <servlet>
         <servlet-name>LoginServlet</servlet-name>
         <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
          <servlet-name>LoginServlet</servlet-name>
          <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
         <servlet-name>CreateGroupServlet</servlet-name>
         <servlet-class>CreateGroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
          <servlet-name>CreateGroupServlet</servlet-name>
          <url-pattern>/CreateGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet>
         <servlet-name>SignUpServlet</servlet-name>
         <servlet-class>SignUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
          <servlet-name>SignUpServlet</servlet-name>
          <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet>
         <servlet-name>ViewGroupsServlet</servlet-name>
         <servlet-class>ViewGroupsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
          <servlet-name>ViewGroupsServlet</servlet-name>
          <url-pattern>/ViewGroupsServlet</url-pattern>
    </servlet-mapping>
        <servlet>
         <servlet-name>AddExpenseServlet</servlet-name>
         <servlet-class>AddExpenseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
          <servlet-name>AddExpenseServlet</servlet-name>
          <url-pattern>/AddExpenseServlet</url-pattern>
    </servlet-mapping>
    <servlet>
         <servlet-name>BalanceServlet</servlet-name>
         <servlet-class>BalanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
          <servlet-name>BalanceServlet</servlet-name>
          <url-pattern>/BalanceServlet</url-pattern>
    </servlet-mapping>
        <servlet>
         <servlet-name>DeleteGroupServlet</servlet-name>
         <servlet-class>DeleteGroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
          <servlet-name>DeleteGroupServlet</servlet-name>
          <url-pattern>/DeleteGroupServlet</url-pattern>
    </servlet-mapping>
</web-app>